body {
  background: #000000;
}
.header {
  height: 700px;
  width 100%;
  background-image: url(Nestrabonita.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  padding:0 0;
  margin: 0 0;
  z-index: -1;
}
.logo{
  color: #39ff14;
  line-height: 100px;
  font-size: 50px;
  padding-top: 5px;
  text-align:center;
  text-transform: uppercase;
  padding-top: 500px;
}

.menu{
  text-align: left;
  line-height: 50px;
  font-size: 25px;
}
.menu a{
  border-left-style: 2px solid white;
  color: #fff;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration:none;
  transition: 0.4s;
}
.menu a:hover{
  color:#39ff14;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn{
  float: right;
}
.show-menu-btn i{
  line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: #39ff14;
}

#chk{
  position: absolute;
  visibility: hidden;
  z-index: -100;
}

.content{
  background: #000000;
  color: #fff;
  text-align: center;
}
.content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:auto;
  }
.content p{
  text-align: center;
}
.social{
  display:block;
  background: #000000;
  color:#fff;
  padding-left:50px;
  padding-top: 50px;
  text-align: left;


}
.social a{
  color: #fff;
  line-height: 80px;
  font-size: 50px;
  padding-top: 25px;
  text-transform: uppercase;
  padding: 0 50px;
  text-decoration:none;
}
.social a:hover{
  color:#39ff14;
}
.form-wrapper{
  background: #000000;
  color: #fff;
  text-decoration: none;
  margin-top: 5px;
  background: #000000;
  border: solid #39ff14;
  border-width: thick;
}
.bottom-form{
  width: 75%;
}
@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position:absolute;
    top: 5px;
    right: 5px;
  }
  #chk:checked ~ .menu{
    right: 0;
  }
  .logo{
    color: #39ff14;
    line-height: 100px;
    font-size: 25px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
  }
}
